@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 5%;

    --muted: 210, 15%, 90%;
    --muted-foreground: 210, 15%, 50%;

    --popover: 0, 0%, 100%;
    --popover-foreground: 0, 0%, 5%;

    --border: 210, 15%, 80%;
    --input: 210, 15%, 90%;

    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 5%;

    --primary: 0, 0%, 100%; /* Rich Red */
    --primary-light: 0, 80%, 60%;
    --primary-foreground: 0, 0%, 100%;
    --primary-dark: 0, 80%, 40%;

    --secondary: 82 39% 30%; /* Cyan Blue */
    --secondary-light: 195, 100%, 60%;
    --secondary-foreground: 0, 0%, 100%;
    --secondary-dark: 195, 100%, 40%;

    --neutral: 0, 0%, 5%; /* Sleek Black */
    --neutral-light: 0, 0%, 30%;
    --neutral-foreground: 0, 0%, 100%;
    --neutral-dark: 0, 0%, 0%;

    --accent: 34 44% 69%; /* Mustard Yellow */
    --accent-foreground: 0, 0%, 5%;

    --destructive: 0, 100%, 50%;
    --destructive-foreground: 0, 0%, 100%;

    --ring: 210, 100%, 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .bg-container {
    @apply w-full;
  }

  .fg-container {
    @apply px-4 md:px-0 sm:max-w-screen-sm md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg;
  }
}






